/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* flex */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
/* line 9, ../sass/category.scss */
h3.page-product-heading {
  float: left;
  color: #363636;
  text-transform: uppercase;
  font: 600 14px/20px "Heebo", serif;
  padding: 8px 15px;
  margin: 0 0 20px;
  min-width: 120px;
  position: relative;
  background: #f6f6f6;
}
/* line 8, ../sass/mixins/_app.scss */
.rtl h3.page-product-heading {
  float: right;
}
/* line 11, ../sass/category.scss */
h3.page-product-heading:before {
  height: 0;
  width: 0;
  right: 45%;
  top: 100%;
  content: "";
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #f6f6f6;
}
/* line 121, ../sass/mixins/_app.scss */
.rtl h3.page-product-heading:before {
  left: 45%;
  right: auto;
}

/* line 17, ../sass/category.scss */
.categories h1.page-heading {
  display: none;
}

/* line 19, ../sass/category.scss */
h1#cart_title {
  margin-top: 0;
  font-size: 24px;
}

/* line 23, ../sass/category.scss */
.content_scene_cat {
  margin-bottom: 30px;
}
/* line 25, ../sass/category.scss */
.content_scene_cat .cat_desc {
  margin-top: 10px;
}
/* line 28, ../sass/category.scss */
.content_scene_cat span.category-name {
  font: 600 42px/51px "Heebo", serif;
  color: #000000;
  margin-bottom: 12px;
}
@media (max-width: 1199px) {
  /* line 28, ../sass/category.scss */
  .content_scene_cat span.category-name {
    font-size: 25px;
    line-height: 30px;
  }
}
/* line 37, ../sass/category.scss */
.content_scene_cat p {
  margin-bottom: 0;
}
/* line 40, ../sass/category.scss */
.content_scene_cat a {
  color: #000000;
}
/* line 42, ../sass/category.scss */
.content_scene_cat a:hover {
  text-decoration: underline;
}
/* line 46, ../sass/category.scss */
.content_scene_cat .content_scene {
  color: #555555;
}
/* line 48, ../sass/category.scss */
.content_scene_cat .content_scene .cat_desc {
  padding-top: 20px;
}
/* line 50, ../sass/category.scss */
.content_scene_cat .content_scene .cat_desc a {
  color: #363636;
}
/* line 52, ../sass/category.scss */
.content_scene_cat .content_scene .cat_desc a:hover {
  color: #ff7600;
}

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
/* line 65, ../sass/category.scss */
#subcategories .subcategory-container {
  margin-bottom: 30px;
}
/* line 68, ../sass/category.scss */
#subcategories .subcategory-name {
  padding: 15px;
  font-weight: 500;
}
