/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* flex */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* line 3, ../sass/compass.scss */
ul, ol {
  list-style-type: none;
  padding: 0px;
}

/* line 8, ../sass/compass.scss */
#order-detail-content td.cart_total, #order-detail-content td.price {
  width: 140px;
}

/* line 13, ../sass/compass.scss */
.module-leoblog-blog .blog-comment-block label {
  padding-left: 25px;
}
/* line 19, ../sass/mixins/_app.scss */
.rtl .module-leoblog-blog .blog-comment-block label {
  padding-right: 25px;
  padding-left: inherit;
}
/* line 15, ../sass/compass.scss */
.module-leoblog-blog .blog-comment-block label:after {
  color: red;
  content: "*";
  left: 15px;
  position: absolute;
  top: 8px;
}
/* line 114, ../sass/mixins/_app.scss */
.rtl .module-leoblog-blog .blog-comment-block label:after {
  right: 15px;
  left: auto;
}

/* line 24, ../sass/compass.scss */
[class*="col-lg-2.4"] {
  width: 20%;
}

/* line 27, ../sass/compass.scss */
#tags_block_left {
  display: none;
}

/* line 31, ../sass/compass.scss */
.rtl .radio input[type="radio"],
.rtl .radio-inline input[type="radio"],
.rtl .checkbox input[type="checkbox"],
.rtl .checkbox-inline input[type="checkbox"] {
  float: right !important;
}
/* line 37, ../sass/compass.scss */
.rtl input[type="radio"], .rtl input[type="checkbox"] {
  margin: 4px 0px 0px 5px !important;
}
/* line 40, ../sass/compass.scss */
.rtl select {
  background-position: 8px center !important;
}
/* line 43, ../sass/compass.scss */
.rtl p.payment_module a.bankwire {
  background: #fbfbfb url("../img/bankwire.png") no-repeat scroll calc(100% - 15px) 12px;
}
/* line 46, ../sass/compass.scss */
.rtl p.payment_module a.cheque {
  background-color: #fbfbfb;
  background-image: url("../img/cheque.png");
  background-position: calc(100% - 15px) 12px;
  background-repeat: no-repeat;
}
/* line 54, ../sass/compass.scss */
.rtl p.payment_module a.cheque:after, .rtl p.payment_module a.bankwire:after, .rtl p.payment_module a.cash:after {
  transform: rotate(180deg);
}
/* line 59, ../sass/compass.scss */
.rtl .pts-megamenu .dropdown-menu .dropdown-submenu > a .caret:before {
  transform: rotate(180deg);
}

/* line 64, ../sass/compass.scss */
#footer .widget-html.block {
  margin-bottom: 0px !important;
}

/* line 69, ../sass/compass.scss */
.nopadding.home5 .row-inner {
  background: #ffffff;
}
/* line 71, ../sass/compass.scss */
.nopadding.home5 .row-inner .widget-ourservice {
  border-bottom: 1px solid #ededed;
}
/* line 73, ../sass/compass.scss */
.nopadding.home5 .row-inner .widget-ourservice:last-child {
  border: none;
}

/* line 79, ../sass/compass.scss */
#columns .ps-ourservice {
  padding: 29px 20px !important;
}

/* line 82, ../sass/compass.scss */
.alert.warning_inline {
  background-color: #f2dede;
  border-color: #ebcccc;
  border-width: 1px;
  border-style: solid;
  color: #a94442;
  margin: 10px 0px 0px 0px !important;
}

/* line 91, ../sass/compass.scss */
#relatedproducts .carousel-control {
  color: #ff6700;
  border: 1px solid #ff6700;
  box-shadow: none;
}

@media (max-width: 1024px) {
  /* line 98, ../sass/compass.scss */
  .block .title_block {
    font-size: 23px !important;
  }

  /* line 101, ../sass/compass.scss */
  .megamenu .pts-widget .widget-heading {
    font-size: 20px !important;
  }

  /* line 104, ../sass/compass.scss */
  .category-sub .nav-tabs {
    margin-top: 0px !important;
  }

  /* line 107, ../sass/compass.scss */
  .nav-tabs > li > a {
    padding: 11px !important;
  }

  /* line 110, ../sass/compass.scss */
  .ps-service .row > div {
    padding: 0 10px;
  }

  /* line 113, ../sass/compass.scss */
  .megamenu .widget-video iframe {
    height: 153px !important;
    width: 273px !important;
  }

  /* line 117, ../sass/compass.scss */
  .content_sortPagiBar .form-control {
    max-width: 141px;
  }

  /* line 120, ../sass/compass.scss */
  #categories_block_left {
    padding: 15px !important;
  }
  /* line 122, ../sass/compass.scss */
  #categories_block_left .block-category > li li {
    padding-left: 15px !important;
  }
  /* line 19, ../sass/mixins/_app.scss */
  .rtl #categories_block_left .block-category > li li {
    padding-right: 15px !important;
    padding-left: inherit;
  }

  /* line 126, ../sass/compass.scss */
  .sidebar .block-borderbox .title_block > span {
    font-size: 23px !important;
  }

  /* line 129, ../sass/compass.scss */
  #layered_block_left {
    padding: 15px !important;
  }

  /* line 132, ../sass/compass.scss */
  .pb-right-column h1 {
    font-size: 28px !important;
  }

  /* line 135, ../sass/compass.scss */
  #availability_value, #last_quantities {
    padding: 3px 6px;
    font-size: 14px;
    margin: 0px;
  }

  /* line 140, ../sass/compass.scss */
  .nav-pills > li > a {
    font-size: 23px !important;
  }

  /* line 143, ../sass/compass.scss */
  .block-borderbox .title_block {
    margin-bottom: 20px !important;
  }

  /* line 146, ../sass/compass.scss */
  #columns .ps-ourservice {
    padding: 15px !important;
  }
  /* line 148, ../sass/compass.scss */
  #columns .ps-ourservice p {
    margin-bottom: 0px !important;
    height: 75px;
    overflow: hidden;
  }

  /* line 154, ../sass/compass.scss */
  .widget-testimonial {
    padding: 20px 15px !important;
  }
  /* line 157, ../sass/compass.scss */
  .widget-testimonial .testimonials-body .testimonials-avatar > div {
    width: 70px !important;
  }
  /* line 160, ../sass/compass.scss */
  .widget-testimonial .testimonials-body .testimonials-quote {
    margin: 10px 0px 20px !important;
  }
}
@media (max-width: 768px) {
  /* line 167, ../sass/compass.scss */
  #pts-top-menu {
    margin-top: 0px !important;
  }

  /* line 170, ../sass/compass.scss */
  .ps-service .row > div {
    margin: 15px 0 !important;
  }
  /* line 172, ../sass/compass.scss */
  .ps-service .row > div p {
    display: block !important;
  }

  /* line 177, ../sass/compass.scss */
  .pts-megamenu .megamenu {
    text-align: left !important;
  }
  /* line 179, ../sass/compass.scss */
  .pts-megamenu .megamenu > li {
    border-bottom: 1px solid #ededed;
  }
  /* line 181, ../sass/compass.scss */
  .pts-megamenu .megamenu > li > a {
    padding: 0px 15px !important;
    line-height: 45px !important;
  }
  /* line 184, ../sass/compass.scss */
  .pts-megamenu .megamenu > li > a .menu-title {
    display: block !important;
    padding: 0px !important;
  }
  /* line 188, ../sass/compass.scss */
  .pts-megamenu .megamenu > li > a .sub-title {
    display: none !important;
  }
  /* line 192, ../sass/compass.scss */
  .pts-megamenu .megamenu > li.dropdown .caret:before {
    top: -30px !important;
    right: 0px !important;
  }
  /* line 121, ../sass/mixins/_app.scss */
  .rtl .pts-megamenu .megamenu > li.dropdown .caret:before {
    left: 0px !important;
    right: auto;
  }
  /* line 198, ../sass/compass.scss */
  .pts-megamenu .dropdown-menu .dropdown-menu-inner {
    padding: 5px 15px 5px 30px !important;
  }
  /* line 38, ../sass/mixins/_app.scss */
  .rtl .pts-megamenu .dropdown-menu .dropdown-menu-inner {
    padding: 5px 30px !important 5px 15px;
  }
  /* line 200, ../sass/compass.scss */
  .pts-megamenu .dropdown-menu .dropdown-menu-inner .mega-col {
    width: 100% !important;
  }
  /* line 202, ../sass/compass.scss */
  .pts-megamenu .dropdown-menu .dropdown-menu-inner .mega-col .widget-products, .pts-megamenu .dropdown-menu .dropdown-menu-inner .mega-col .widget-video {
    display: none !important;
  }

  /* line 208, ../sass/compass.scss */
  .megamenu .pts-widget .widget-heading {
    margin-bottom: 10px !important;
  }

  /* line 212, ../sass/compass.scss */
  .sidebar #stores_block_left, .sidebar #layered_block_left {
    display: none !important;
  }
  /* line 215, ../sass/compass.scss */
  .sidebar .block_content.tree-menu {
    display: block !important;
  }

  /* line 219, ../sass/compass.scss */
  #columns .ps-ourservice {
    padding: 0px !important;
  }

  /* line 222, ../sass/compass.scss */
  .nopadding-mobile {
    padding: 15px 0px !important;
  }

  /* line 225, ../sass/compass.scss */
  .ourservice-content h4 {
    font-size: 17px !important;
    height: auto !important;
  }

  /* line 229, ../sass/compass.scss */
  .widget-categoriestabs .item-special {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /* line 234, ../sass/compass.scss */
  #ps-service {
    display: none;
  }

  /* line 237, ../sass/compass.scss */
  #pts_search_block_top .button-search {
    width: 42px !important;
  }

  /* line 241, ../sass/compass.scss */
  #logo-theme.logo-theme img {
    width: 95px !important;
  }

  /* line 245, ../sass/compass.scss */
  #logo-theme.logo-theme a {
    width: 95px !important;
    background-size: 100%;
  }

  /* line 249, ../sass/compass.scss */
  #header #header-main {
    padding: 7.5px 0px !important;
  }

  /* line 252, ../sass/compass.scss */
  .btn-slider {
    padding: 5px !important;
    font-size: 10px !important;
  }

  /* line 257, ../sass/compass.scss */
  .sidebar #categories_block_left .block-category > li > a {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 10px 0 !important;
  }
}
/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* flex */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
@media only print {
  /* line 6, ../sass/print.scss */
  #header .nav, #header .banner, #header .row > div {
    display: none;
  }
  /* line 9, ../sass/print.scss */
  #header .row div#header_logo {
    display: block;
  }

  /* line 13, ../sass/print.scss */
  #center_column {
    width: 100% !important;
  }

  /* line 16, ../sass/print.scss */
  #left_column, #right_column {
    display: none;
  }

  /* line 19, ../sass/print.scss */
  .no-print, #quantity_wanted_p > a, a.quick-view {
    display: none !important;
  }

  /* line 22, ../sass/print.scss */
  div.selector, div.selector span, div.selector select {
    background: none;
  }

  /* line 25, ../sass/print.scss */
  #thumbs_list li a:hover, #thumbs_list li a.shown {
    border-color: #fff;
  }

  /* line 28, ../sass/print.scss */
  .product_attributes, .box-cart-bottom {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* line 31, ../sass/print.scss */
  .pb-left-column #views_block {
    margin-top: 10px;
    width: 278px !important;
  }

  /* line 35, ../sass/print.scss */
  #thumbs_list_frame, #thumbs_list {
    width: 100% !important;
    height: 100% !important;
  }

  /* line 40, ../sass/print.scss */
  #thumbs_list li, #thumbs_list li:first-child {
    margin: 4px;
    width: 82px;
    height: 82px;
  }

  /* line 46, ../sass/print.scss */
  #view_scroll_left, #view_scroll_right, .view_scroll_spacer {
    display: none !important;
  }

  /* line 49, ../sass/print.scss */
  .bx-wrapper {
    width: 100% !important;
    max-width: 100% !important;
  }

  /* line 53, ../sass/print.scss */
  .bx-viewport {
    height: auto !important;
  }

  /* line 56, ../sass/print.scss */
  #bxslider, #bxslider1, #crossselling_list_car {
    width: 100% !important;
    height: auto !important;
    overflow: visible !important;
  }

  /* line 62, ../sass/print.scss */
  #bxslider1 .product-box {
    min-height: 200px;
  }

  /* line 66, ../sass/print.scss */
  .bx-controls-direction {
    display: none;
  }

  /* line 71, ../sass/print.scss */
  #footer .row > div, #footer .row > section {
    display: none;
  }
  /* line 73, ../sass/print.scss */
  #footer .row > div#block_contact_infos, #footer .row > section#block_contact_infos {
    display: block;
    width: 100%;
    border-left: none;
    border-top: 1px solid #515151;
    padding-top: 20px;
  }
  /* line 19, ../sass/mixins/_app.scss */
  .rtl #footer .row > div#block_contact_infos, .rtl #footer .row > section#block_contact_infos {
    border-right: none;
    border-left: inherit;
  }

  /* line 83, ../sass/print.scss */
  .footer-container #footer h4:after {
    display: none;
  }
}
