/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* flex */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
#mailalerts_block_account li.last_item {
  border-bottom: none;
  margin-bottom: 0;
}
#mailalerts_block_account li .products-block-image {
  float: left;
  margin-right: 19px;
}
.rtl #mailalerts_block_account li .products-block-image {
  float: right;
}
.rtl #mailalerts_block_account li .products-block-image {
  margin-left: 19px;
  margin-right: inherit;
}
#mailalerts_block_account li .remove {
  float: right;
}
.rtl #mailalerts_block_account li .remove {
  float: left;
}
#mailalerts_block_account li .remove i {
  cursor: pointer;
}
