/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* flex */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
#index .grid .categories_info_container .categories_info_content {
  top: 80%;
}

#index .header2 .ps-service {
  margin-bottom: 0;
}
#index .header2 .ps-service .service-inner {
  border-bottom: 0;
}

.widget-manufacture.block {
  margin-bottom: 0;
}

.img_full_width img {
  width: 100%;
}

#index .no-margin-row .row {
  margin: 0;
}
@media (min-width: 1200px) {
  #index .header4 {
    max-width: 1290px;
    margin: 0 auto;
  }
}
#index .nopadding .row-inner {
  background: #fff;
}

#columns .ps-ourservice {
  padding: 10px 20px;
}
.widget-testimonial {
  padding: 70px 60px;
}
@media (max-width: 1199px) {
  .widget-testimonial {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .widget-testimonial {
    padding: 30px 0 10px;
  }
  .widget-testimonial .title_block {
    line-height: 1;
  }
}
.widget-testimonial .carousel-controls {
  display: none;
}
.widget-testimonial .testimonials-body .testimonials-quote {
  font-size: 16px;
  color: #363636;
  font-style: italic;
}
.widget-testimonial .testimonials-body .testimonials-quote i {
  color: #e1e1e1;
}
.widget-testimonial .testimonials-body .testimonials-profile {
  padding: 15px 15px 0px 15px !important;
}
.widget-testimonial .testimonials-body .testimonials-profile > div .job {
  color: #999999;
  font-size: 14px;
}
