/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* flex */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
#index .header1 .ps-service {
  margin-bottom: 0;
}
#index .header1 .ps-service .service-inner {
  border-bottom: 0;
}
@media (min-width: 1200px) {
  #index .header4 {
    max-width: 1290px;
    margin: 0 auto;
  }
}
#index .widget-manufacture.block {
  margin-bottom: 0;
}
#index .img_full_width img {
  width: 100%;
}

#pts_search_query_top, #category_filter {
  border-color: #e9e9e9;
}

#header-main {
  border-bottom: 1px solid #e9e9e9;
}

#cart > .price {
  color: #363636;
}

#cart .mini-cart a span {
  position: relative;
  background: #363636;
}

.widget-newsletter .newsletter-input {
  background: #fff !important;
}
