/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* flex */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
#index .grid .categories_info_container .categories_info_content {
  top: 80%;
}

.widget-categories_info .title_block {
  max-width: 1320px;
  margin: 0 auto;
  display: block;
  padding: 0 15px;
}
@media (max-width: 480px) {
  .widget-categories_info .title_block {
    margin-top: -20px;
  }
}

@media (min-width: 1200px) {
  #index .header2 {
    max-width: 1290px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  #index .header4 {
    max-width: 1290px;
    margin: 0 auto;
  }
}

.widget-manufacture.block {
  margin-bottom: 0;
}

.img_full_width img {
  width: 100%;
}

#index .widget-latestblog .blog_container .blog-image .blog-created b {
  color: #ffdc18;
}
#index .nav-tabs > li a:focus, #index .nav-tabs > li a:hover, #index .nav-tabs > li.active a:focus, #index .nav-tabs > li.active a:hover {
  border-color: #ffdc18;
  color: #fff;
  background: #ffdc18;
}
#index .nav-tabs > li.active a {
  background: #ffdc18;
}
#index #layer_cart {
  left: 50%;
  -webkit-transform: translate(-50%, 20px);
  -moz-transform: translate(-50%, 20px);
  -ms-transform: translate(-50%, 20px);
  -o-transform: translate(-50%, 20px);
  max-width: 1170px;
}

#pts-mainnav {
  background: #fff;
}
