//var martket


$theme-color: 					#ffdc18;
$header-center-bg:  			#1e1e1e !default;
$header-top-bg:  				#1e1e1e !default;
$topbar-color-border:			#333333 !default;
$topbar-color:					#999999 !default;
$header-botton-search:  		$theme-color !default;
$link-hover-color: $theme-color;

