//var martket


$theme-color: 					#28bb0b;
$header-center-bg:  			#ffffff !default;
$header-top-bg:  				#363636 !default;
$header-botton-search:  		#28bb0b !default;
$header-border-search:  		#e9e9e9 !default;
$topbar-color-border:			rgba(255,255,250,0.1) !default;
$topbar-color:					#fff !default;
$footer-center-outside-bg :		#eeeae2 !default;
$footer-center-color:			#666666 !default;
$footer-link-color:				#666666 !default;
$footer-heading-text-color:		#363636 !default;

$link-hover-color: $theme-color;

