//var home3


$theme-color: 					#ffdc18;
$header-center-bg:  			#002341 !default;
$header-top-bg:  				#002341 !default;
$header-botton-search:  		#033866 !default;
$topbar-color-border:			#003562 !default;
$link-hover-color: $theme-color;

