


// tab style version 4 //
$bo-tabs-v4-a-color:               #000 !default; 
$bo-tabs-v4-a-color-active:        $theme-color !default;

$bo-tabs-v4-padding:               10px 20px !default; 
$bo-tabs-v4-background:            transparent !default;
$bo-tabs-v4-background-hover:      transparent !default;
$bo-tabs-v4-content-background:    transparent !default;

$bo-tabs-v4-border-color : #cdcdcd !default;
$bo-tabs-v4-content-border:  0px solid $base-border-color;
$bo-tabs-v4-content-padding: 15px 0!default;

